body{
    background-color: hsl(30, 38%, 92%);
    margin: 5% 3% 0 3%;
    display: flex;
    flex-direction: column;
}

#card {
    background-color: white;
    border-radius: 2%;
}

#img-header-div {
    display: flex;
    justify-content: center;
}

.image1 {
    width: 100%;
    border-radius: 2% 2% 0 0;
}

main {
    margin: 0px 15px 0px 15px;
}

p {
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 14px;
}

h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
}

#pricing {
    display: flex;
    margin: 10px 0px 20px 0px;
    align-items: center;
    font-family: "Fraunces", serif;

}

#price-1 {
    color: hsl(158, 36%, 37%);
    font-weight: 900;
    font-size: 24px;
    margin: 0px 20px 0px 0px;
}

#price-2 {
    font-size: 12px;
    text-decoration: line-through;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    margin: 0 10px 0 0;
}

button {
    width: 100%;
    padding: 10px;
    margin: 0 0px 20px 0px;
    font-family: "Montserrat", serif;    color: white;
    background-color: hsl(158, 36%, 37%);
}

button:hover {
    background-color: hsl(158, 36%, 22%);
    cursor: pointer;
}

footer {
    font-size: 10px;
    text-align: center;
    margin: 10px;
}

@media (min-width: 376px) {
    body {
        padding: auto;
        margin: 10% 25%;
    }
    container {
        display: flex;
    }
    .image2 {
        width: 100%;
        border-radius: 2% 0 0 2%;
        object-fit: cover;
    }
    .image1 {
        display: none;
    }
}
